<template>
	<div class="col-xs-12">
		<div v-for="blogCard, index in blogCards">
			<div class="col-xs-2">
				<img :src="blogCard.image"class="img-responsive img-corners">
			</div>
		</div>
	</div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

	export default {
		props: [
			'blog',
		],

		data() {
			return {
			}
		},

		computed: mapGetters({
			blogCards: 'allBlogCards'
		}),

		methods: {
			...mapActions([
				'getBlogCards',
			]),
		},

		created() {
			this.getBlogCards({user:this.blog.user_id, blog:this.blog.id})
		}
	}
</script>