<template>
<div class="col-xs-12 col-sm-8 col-sm-offset-2 margin-b">
	<videomodal v-if="showModal" @close="showModal = false">
        <h3 slot="header">Upload image</h3>
        <video class="img-responsive image" slot="body" controls>
        	 <source :src="'/videos/help/create a card.mp4'" type="video/mp4">
        </video>
    </videomodal>
	<div class=" box-still">
		<draggabledistrict v-if="orderDistricts" :districts="orderDistricts"></draggabledistrict>
	</div>
</div>
</template>
<script>
	import { mapActions, mapGetters } from 'vuex' 

	export default {
		data() {
			return {
				showModal: false,
			}
		},

		computed: mapGetters({
            orderDistricts: 'allOrderDistricts',
        }),

		methods: {
			...mapActions([
				'getOrderDistricts',
            ])
        },
        
		 mounted() {
                this.getOrderDistricts()
        }
	}
</script>